<!-- Footer -->
<div style="font-size: 7pt; text-align: center;margin:10px;"><img src="/images/botnav.gif" border=0 width=750 height=23 usemap="#botnav1"><br>
Конференция основана на движке <A STYLE="text-decoration:underline;" href="http://2ka.mipt.ru/~www/" TARGET="_blank">WWWConf 2.0 PRE BETA5</A>, поддерживается и модерируется группой <a STYLE="text-decoration:underline;" href="?authors">энтузиастов</a>.
</div><!-- END Footer -->