<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html><head><base href="http://zlo.rt.mipt.ru"><meta http-equiv="Content-Type" content="text/html; charset=windows-1251" /><link rel="shortcut icon" href="/favicon.ico" /><link rel="stylesheet" type="text/css" href="/main.css" /><link rel="alternate" type="application/rss+xml" title="RSS" href="http://board.rt.mipt.ru/index.cgi?index=rss" /><meta http-equiv="Page-Exit" content="progid:DXImageTransform.Microsoft.Fade(Duration=0.2)" /><title>Форум-ФРТК-МФТИ : У НК моя жена скучает - срочно развлекайте!</title></head><body>
    <script language="JavaScript" type="text/javascript">function popup(action, value, w, h){wnd=window.open("?"+action+"="+value,"popup","resizable=no,menubars=no,scrollbars=yes,width="+w+",height="+h); }</script><script language="JavaScript" type="text/javascript" src="/nav.js"></script><script language="JavaScript" type="text/javascript" src="/request.js"></script><div class="menu"><A HREF="#5661809">Перейти к ответам</A><A HREF="#Reply">Ответить</A><A HREF="?index#5661809" style="color:red;">На главную страницу</A><a HREF="/xonix/search">Поиск</A><A HREF="?rules">Правила</A><A HREF="?favs">Избранное</A><A HREF="?persmsg">Приват</A><A HREF="?login=logoff&key=26571">Выход</A></div><BR>
    
<%= yield %>

 <%= render :partial => "footer" %>
